nav{
    height: 4.5rem;
    padding: 16px;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    z-index: 2;
    &__logo{
        h2{
            font-size: #{map-get($-sub1, font-size)}; 
            color: $black;
        }
        @include breakpoints-up(large){
            
            margin-left: 8.8125rem;
        }
    }
    &__links{
        width: 20rem;
        @include breakpoints-down(medium){
            width: 100%;
        }
        a{
            
            font-size: #{map-get($-sub1, font-size)};
            color: $txtgray;
            transition: color .3s ease-in-out;
            position: relative;

            &::before{
                content: "";
                display: block;
                height: 2px;
                width: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                right: 0;
                bottom: -1px;
                position: absolute;
                background-color: $black;
                
                transition: width .3s ease-in-out;
            }
            &:hover{
                color: $black;
                &::before{
                    width: 70%;
                }
            }
            &.open{
                &::before{
                    width: 70%;
                }
            }
        }
    }
    
}